/* ***********************************************************************
*  Cyberoam iView - The Intelligent logging and reporting solution that 
*  provides network visibility for security, regulatory compliance and 
*  data confidentiality 
*  Copyright  (C ) 2009  Elitecore Technologies Ltd.
*  
*  This program is free software: you can redistribute it and/or modify 
*  it under the terms of the GNU General Public License as published by 
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*  
*  This program is distributed in the hope that it will be useful, but 
*  WITHOUT ANY WARRANTY; without even the implied warranty of 
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU 
*  General Public License for more details.
*  
*  You should have received a copy of the GNU General Public License 
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*  
*  The interactive user interfaces in modified source and object code 
*  versions of this program must display Appropriate Legal Notices, as 
*  required under Section 5 of the GNU General Public License version 3.
*  
*  In accordance with Section 7(b) of the GNU General Public License 
*  version 3, these Appropriate Legal Notices must retain the display of
*   the "Cyberoam Elitecore Technologies Initiative" logo.
*************************************************************************/

.posimessage{
	font-family: tahoma,arial,san-serif;
	font-size: 10px;
	font-weight: 600;
	text-align: left;
	color: green;
	padding-bottom:3px;
}
.nagimessage{
	font-family: tahoma,arial,san-serif;
	font-size: 10px;
	font-weight: 600;
	text-align: left;
	color: red;
	padding-bottom:3px;
}
.contHead{
	font-family: tahoma,arial,san-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: left;
	color: maroon;
	white-space: nowrap;
}
td.trContainerHead{
	background:#E8EDF1;
	color: #313131;
	font-size: 11px;
	font-weight: 600;
	overflow: hidden;
	white-space: nowrap;
	font-family: tahoma,arial,san-serif;
	border: solid 1px #A0A0A0;
	padding-left: 2px;
	padding-right: 2px;
}
td.trContainer{
	color: #313131;
	font-size: 11px;
	overflow: hidden;
	white-space: nowrap;
	font-family: tahoma,arial,san-serif;
	border-bottom: solid 1px #A0A0A0;
	border-left: solid 1px #A0A0A0;
	border-right: solid 1px #A0A0A0;
	padding-left: 2px;
	padding-right: 2px;
}
td.trContainer1{
	color: #313131;
	font-size: 11px;
	overflow: hidden;
	white-space: nowrap;
	font-family: tahoma,arial,san-serif;
}
.ButtonBack{
	border: thin solid #E2E2E2;
	background: transparent url("../images/navi_back.jpg");
	padding: 2px;
	height:35px;
}
.criButton{
	background: transparent url("../images/btnbkgd.jpg");
	width: auto;
	color: rgb(58,78,87);
	font-size: 11px;
	font-weight: bold;
	font-family: arial;
	height:24px;
	border: 1px solid #999999;
	margin-top:2px;
	margin-bottom:2px;
}
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}
.TB_overlayBG {
	background-color:#284959;
	filter:alpha(opacity=50);
	-moz-opacity: 0.50;
	opacity: 0.50;
}
* html #TB_overlay { /* ie6 hack */
	position: absolute;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
.TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}
.TB_window {
	position: fixed;
	background: #FAFAFA;
	z-index: 102;
	color:#000000;
	display:none;
}
* html .TB_window { /* ie6 hack */
	position: absolute;
	/*	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); */
}
.TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}
.IdentDiv {
   	height: expression( this.scrollHeight > 332 ? "200px" : "auto" ); /* sets max-height for IE */
   	max-height: 200px; /* sets max-height value for all standards-compliant browsers */
   	overflow:auto;
}
a.configLink:link {
	text-decoration:underline;
}
a.configLink:visited{
	text-decoration:underline;
}
a.configLink:hover{
	text-decoration:underline;
}
a.configLink:active{
	text-decoration:underline;
}
.datafield{
	font-size: 12px;
	font-family: arial,tahoma,san-serif;
}
.textlabels {
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding-left:2px;
	padding-right:20px;
	text-align:right;
	width:auto;
}
.textfilterlabels {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding-left: 2px;
    padding-right: 1px;
    text-align:right;
    width: auto;
}
.popupcontent {
	background:#F4F4F2;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	width:auto;
}
